
<div class="centered-header">
  <h1>Edit Profile</h1>

  <%= form_for @user, html: { class: 'edit-profile-form' }, method: :patch do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :about_me %>
      <%= f.text_area :about_me, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.fields_for :expertises do |expertise| %>
        <%= expertise.label :expertises %>
        <%= expertise.text_field :name, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.fields_for :interest_expertises do |interest| %>
        <%= interest.label :name %>
        <%= interest.text_field :name, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= link_to 'Back to Home Page', root_path, class: 'secondary-button' %>
      <%= f.submit 'Update Profile', class: 'primary-button' %>
    </div>
  <% end %>
</div>

