<%# <h1>this is the users index page</h1> %>

<div class="users-search">
    <%= form_with(url: search_path, method: :get, local: true, html: { class: "users-search-bar" }) do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search...🔍", class: "users-search-input" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
<div class="container">


<% @users.each do |user| %>

    <div class="usercard">
      <div class="flex-container">

        <div class="usercardleft flex-item-left">
        <%# <h2>Username</h2> %>
          <p>Image section</p>
          <p><strong><%= user.username %></strong></p>
           <%=link_to "More About Giver", user_path(user)%>
        </div>

        <div class="usercardright flex-item-right">
          <%# <h2>Userprofile</h2> %>
            <h3>About Me</h3>
            <p><%= user.about_me %></p>

            <h3>Expertise</h3>
            <% if user.expertises.count > 0 %>
              <% user.expertises.each do |expertise| %>
              <p><%= expertise.name %></p>
              <% end %>
            <% end %>

            <h3>Interest</h3>
            <% if user.interest_expertises.count > 0 %>
              <% user.interest_expertises.each do |interest| %>
              <p><%= interest.name %></p>
              <% end %>
            <% end %>

            <h3>Reviews</h3>
            <p>⭐️⭐️⭐️⭐️⭐️</p>

        </div>
      </div>
    </div>
  <% end %>
</div>
