<%# <h1>this is the users showpage</h1> %>

<div class="container">

    <div class="usercard">
      <div class="flex-container">

        <div class="usercardleft flex-item-left">
        <%# <h2>Username</h2> %>
          <h3>Ask for Help</h3>
       <div class="profile-pic-show">
          <%= image_tag (@user.avatar.attached? ? url_for(@user.avatar) : 'https://hwchamber.co.uk/wp-content/uploads/2022/04/avatar-placeholder.gif'), alt: @user.username, size: "200x200" %>
      </div>
          <p><strong><%= @user.username %></strong></p>
          <div class="select-user">

            <div class="user-profile-card">
              <h3><%= @user.username %></h3>

              <%= render 'agreements/new' %>
              <%= link_to 'Write A Message', new_message_path, class: 'btn button' %>
            </div>


          </div>
        </div>

        <div class="usercardright flex-item-right">
          <%# <h2>Userprofile</h2> %>
            <h3>About Me</h3>
            <p><%= @user.about_me %></p>

            <h3>Expertise</h3>
            <% if @user.expertises.count > 0 %>
              <% @user.expertises.each do |expertise| %>
              <p><%= expertise.name %></p>
              <% end %>
            <% end %>

            <h3>Interest</h3>
            <% if @user.interest_expertises.count > 0 %>
              <% @user.interest_expertises.each do |interest| %>
              <p><%= interest.name %></p>
              <% end %>
            <% end %>

            <h3>Reviews</h3>
            <p>⭐️⭐️⭐️⭐️⭐️</p>

        </div>
      </div>
    </div>

</div>
