
<div class="centered-header">
  <h3>All Requests</h3>

  <div class="requests-search-bar">
<%= form_with(url: requests_path, method: :get, local: true, html: { class: "requests-search-bar" }) do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search All Requests... ðŸ”", class: "requests-search-input" %>
  <%= submit_tag "Search" %>
<% end %>
</div>

<div class="centered-header">
  <h1>All Requests</h1>

  <% @requests.each do |request| %>
    <div class="request-form">
      <h5><%= link_to request.title, request_path(request) %></h5>

      <% if request.user.present? %>
        <p>Getter: <%= request.user.username %></p>
      <% else %>
        <p>Getter: N/A</p>
      <% end %>

      <p>Description: <%= request.description %></p>
    </div>
  <% end %>

  <div class="request-buttons">
    <%= link_to 'Back to Home Page', root_path, class: 'secondary-button' %>
  </div>
</div>
