  <%# <div class="header-home">
         <h1>Givers & Getters</h1>
  </div> %>

  <div class="centered-header">
    <h3>New Help Request</h3>

  <%= form_for(@request) do |f| %>
    <div class="request-form">
      <h5>What kind of help do you need?</h5>
      <%= f.label :expertise_id %>
      <%= f.select :expertise_id, options_from_collection_for_select(Expertise.all, 'id', 'name'), {}, { class: 'form-control' }  %>
    </div>

    <div class="request-form">
      <h5>Name your request?</h5>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="request-form">
      <h5>How would you like to show appreciation?</h5>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="request-form">
      <h5>Describe your request?</h5>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="request-buttons">
      <%= link_to 'Back to Home', root_path, class: 'secondary-button' %>
      <%= f.submit 'Create Request', class: 'primary-button' %>
    </div>

  <% end %>

</div>
