<div class="centered-header">
  <h3>Request Details</h3>

  <div class="request-form">
    <h5><%= @request.title %></h5>
    <p>Getter: <%= link_to @request.user.username, user_path(@request.user) %></p>
    <p>Description: <%= @request.description %></p>
     <% if @suggestion.nil? %>
      <p>Suggestions: no suggestions..</p>
    <% else %>
      <p>Suggestions: <%= link_to @suggestion.username, user_path(@suggestion) %></p>
    <% end %>
  </div>

  <div class="request-buttons">
    <%= link_to 'Back to All Requests', requests_path, class: 'secondary-button' %>
  </div>
</div>
