<div class="centered-header">
  <h3>Request Details</h3>

  <div class="request-form">
    <h4><%= @request.title.capitalize %></h4>
    <p>Getter: <%= link_to @request.user.username, user_path(@request.user) %></p>
    <p>Description: <%= @request.description %></p>
    <p> <i data-feather="share-2" class="orange"></i>&nbsp; &nbsp; Suggestions:</p>
    <% if @experts.empty? %>
      <p>No suggestions..</p>
    <% else %>
      <% @experts.each do |expert| %>
        <h5><%= link_to expert.username, user_path(expert), class:"orange"  %></h5>
      <% end %>
    <% end %>
  </div>

  <div class="request-buttons">
    <%# <%= link_to 'Back to All Requests', requests_path, class: 'secondary-button' %>
     <%= link_to 'All Givers & Getters', users_path, class: 'secondary-button'%>
    <%= link_to 'My Requests', dashboard_path, class: 'primary-button' %>
  </div>
</div>
