<%= simple_form_for @agreement do |f| %>
    <div class="select-request-form">
      <p>Select Request:</p>
      <%= f.select :request_id, current_user.requests.map { |r| [r.title, r.id] }, prompt: 'All Your Open Requests', html: {class:"form-select w-auto"} %>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <%= f.hidden_field :receiver_id, value: @user.id %>
      <%= f.submit 'Submit' %>
    </div>
<% end %>
